
<div class="row">
  <div class="col-6">

    <p>Here is the graph</p>
    <app-dona title="ventas"
              >
    </app-dona>

  </div>

  <div class="col-6">

    <p>Here is the graph</p>
    <app-dona title="compras"
              >
              <!-- [tablas]="labels1"
              [data]="data1" -->
    </app-dona>

  </div>
</div>

<div class="row">
  <div class="col-6">

    <p>Here is the graph</p>
    <app-dona title="Compras"
              >
    </app-dona>

  </div>

  <div class="col-6">

    <p>Here is the graph</p>
    <app-dona title="compra ventas"
              >
    </app-dona>

  </div>
</div>
